.login {
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
		url(../../images/login/login-Bg.jpg);
	min-height: 100vh;
	min-width: 100vw;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	font-family: 'Montserrat', sans-serif;

	&__container {
		align-items: center;
		justify-content: center;
		text-align: center;
		margin-top: 200px;
		max-width: 350px;
	}

	&--img {
		margin-top: 198px;
	}

	.login__form {
		margin-top: 50px;
		position: relative;

		input {
			display: block;
			margin: 20px auto 0 auto;
			position: relative;
		}

		img {
			position: absolute;
			margin-top: -34px;
			margin-left: -135px;
		}

		input {
			font-family: 'Montserrat';
			padding: 13px 51px;
			font-weight: 300;
			width: 100%;
			background-color: transparent;
			border: 1px solid #fff;
			color: #fff;
			border-radius: 4px;

			&::placeholder {
				color: #fff;
			}
		}

		.login__btn {
			padding: 13px;
			width: 100%;
			border-radius: 4px;
			margin-top: 43px;
			a {
				font-family: 'Montserrat';
				font-weight: 600;
				font-size: 16px;
				text-align: center;
				text-transform: uppercase;
				color: #0d75ff;
				text-decoration: none;
			}
		}
	}
	.login__linc {
		text-decoration: none;
		font-family: 'Montserrat';
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		color: #ffffff;
		text-align: right;
		padding-top: 11px;
		display: block;
	}
}
